/multitronikllc/obj
/multitronikllcAPIMock/obj
/.vs
/multitronikllc/bin
/multitronikllcAPIMock/bin
/Shared/bin
/Shared/obj
multitronikllc.slnLaunch.user
multitronikllc/multitronikllc.csproj.user
multitronikllcAPIMock/multitronikllcAPIMock.csproj.user
/msTest/bin
/msTest/obj
