@page "/"
@using multitronikllc.Models
@using multitronikllc.Servicios

<PageTitle>Chalenge - Multitronik</PageTitle>

<h1>Chalenge - Multitronik</h1>
<EditForm Model="Datos" OnValidSubmit="() => onSubmit()" FormName="Starship1">
    <AntiforgeryToken />
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Id Usuario</label>
        <InputNumber class="form-control" @bind-Value="Datos.Id" max="999" min="1" step="1" aria-describedby="idUserHelp" />        
        <div id="idUserHelp" class="form-text">Ingrese un numero entero menor a 1000.</div>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Obtener final primero</label>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="() => onStart()">Iniciar</button>
    <button type="submit" class="btn btn-primary">Reiniciar</button>
    <button type="submit" class="btn btn-primary">Detener</button>
</EditForm>

@if (ErrorDeIngreso)
{
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
}

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div>

@if(miHtml != null)
{
    @foreach (var s in miHtml)
    {
        <p>@s</p>
    }

}

@code {
    [SupplyParameterFromForm]
    private DatosModel Datos { get; set; } = new DatosModel();

    [Inject]
    private BackgroudTask bg { get; set; }

    private Task? EnProceso = null;
    private bool ErrorDeIngreso = false;

    [Inject]
    private IJSRuntime jS { get; set; }

    private Dictionary<int, string> bloques = [];
    private List<string> bloquesFinal = [];
    private IEnumerable<MarkupString> miHtml;

    protected override Task OnInitializedAsync()
    {
        bg.OnPaketReceived += Bg_OnPaketReceived;

        return base.OnInitializedAsync();
    }

    private async Task<bool> onSubmit()
    {
        ErrorDeIngreso = false;
        if (Datos.Id > 0 && Datos.Id < 1000){            
            return true;
        }
        else
        {
            await jS.InvokeVoidAsync("myJsFunction");
            ErrorDeIngreso = true;
            _ = Task.Run(async () =>
            {
                await Task.Delay(3000);
                ErrorDeIngreso = false;                
            });
        }
        return false;
    }

    private void onStart()
    {
        if(Datos == null || Datos.Id == null)
        {
            return;
        }
        EnProceso = bg.Start(Datos.Id.Value);
    }

    private void Bg_OnPaketReceived(BackgroudTask? sender, Tuple<int,string> e)
    {
        // procesar el texto para ir mostrando en pantalla
        if(bloques.ContainsKey(e.Item1))
        {
            return;            
        }
        bloques.Add(e.Item1, e.Item2);
        var ordenado = bloques.OrderBy(b => b.Key);
        Console.WriteLine($"Paquete recibido: {e.Item1} - {e.Item2}");

        int id = 0;
        bool puntos = false;
        bloquesFinal.Clear();
        foreach (var b in ordenado)
        {
            if(id == 0)
            {
                id = b.Key;
                bloquesFinal.Add(b.Value);
                continue;
            }
            if(id == b.Key -1)
            {
                bloquesFinal.Add(b.Value);
                id = b.Key;
                puntos = false;
                continue;
            }
            if(!puntos)
            {
                bloquesFinal.Add("...");
                puntos = true;
                id = b.Key;
            }
            else
            {
                puntos = false;
            }
            bloquesFinal.Add(b.Value);
        }
        string final = string.Join("", bloquesFinal);
        var lista = final.Split("\n");
        miHtml = lista.Select(s=> new MarkupString(s));
        StateHasChanged();
    }
}